OPENSEA_API_KEY=your_opensea_api_key_here
TWITTER_CONSUMER_KEY=your_value
TWITTER_CONSUMER_SECRET=your_value
TWITTER_BEARER_TOKEN=your_value
TWITTER_ACCESS_TOKEN=your_value
TWITTER_ACCESS_TOKEN_SECRET=your_value
DISCORD_WEBHOOK_URL=your_discord_webhook_url
CF_IMAGE_BASE=https://your-cloudflare-image-base-url
